<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd">

    <bean id="methodCount" class=" org.huyong.my.spring.aop.proxyfactorybean.MethodInvokeCountAdvice"/>

    <bean id="methodLogger" class="org.huyong.my.spring.aop.proxyfactorybean.MethodLoggerAdvice"/>

    <bean id="bussinessService" class="org.huyong.my.spring.aop.proxyfactorybean.BussinessServiceImpl"/>

    <bean id="methodProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>org.study.spring.aop.proxyfactorybean.IBussinessService</value>
        </property>

        <property name="target">
            <ref bean="bussinessService"/>
        </property>

        <property name="interceptorNames">
            <list>
                <value>methodCount</value>
                <value>methodLogger</value>
            </list>
        </property>
    </bean>


</beans>