<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huyong.my.spring.mybatis.mapper.BlogMapper">
    <select id="selectBlog" parameterType="int" resultType="org.huyong.my.spring.mybatis.domain.Blog">
        select * from user where id = #{id}
    </select>
</mapper>