<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student" class="org.huyong.my.spring.ioc.constructorarg.Student">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="name" value="student"/>
        <constructor-arg name="dream">
            <list>
                <value>soldier</value>
                <value>scientist</value>
                <value>pilot</value>
            </list>
        </constructor-arg>
        <constructor-arg name="score">
            <map>
                <entry key="math" value="90"/>
                <entry key="english" value="85"/>
            </map>
        </constructor-arg>
        <constructor-arg name="graduation" value="false"/>
    </bean>

</beans>